body {
background-color: #333;
}
body, h1 {
  color: #333;
}
h1 {
  padding: 0;
}
ul { margin-bottom:0; }
.container {
  background-color: #fff;
  padding:30px;
  margin-top: 30px; 
  border: solid 1px black;
}
#dislike { 
  font-size:30px;
  line-height: 40px;
}
